
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
header {
  background-color: #c40000;
  padding: 20px;
  text-align: center;
}
main {
  padding: 20px;
}
footer {
  background-color: #222;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
